<li>
  <%= link_to catalog_menu_item.page.title, page_path(catalog_menu_item.page.permalink), class: "#{'active' if catalog_menu_item.active?}" %>
  <% if catalog_menu_item.children.any? %>
    <ul>
      <%= render catalog_menu_item.children %>
    </ul>
  <% end %>
</li>
