<li>
  <%= link_to main_menu_item.page.title, page_path(main_menu_item.page.permalink) %>
  <% if main_menu_item.children.any? %>
    <ul>
      <%= render main_menu_item.children %>
    </ul>
  <% end %>
</li>
