// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//
//= require activeadmin-sortable

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


/**
 * Index as tree with childs
 */
.table-with-tree__clearfix {
  @include clearfix;
}

.table-with-tree__categorizer {
  float: left;
  width: 270px;

  .panel_contents {
    @include clearfix;
  }

  ul ul {
    padding-left: 16px;
  }

  a {
    display: block;
    float: left;
    clear: both;
    color: $link-color;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
  }

  .active {
    color: #ffffff;
    background-color: $current-menu-item-background;
    text-decoration: none;
  }

  .unpublished {
    color: #bdbdbd;
  }
}

.table-with-tree__collection {
  margin-left: 300px;

  .hidden {
    color: #bdbdbd;
  }
}

/**
 * Inputs
 */
input:disabled,
textarea:disabled {
  background-color: #f4f4f4;
}
